@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary">+ Thêm sản phẩm</a>
</p>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IProductID">@item.SProductName</a>
                </td>
                @* <td>@item.FPrice ₫</td>
                <td>@item.IQuantity</td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IProductID" class="btn btn-sm btn-warning">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@item.IProductID" class="btn btn-sm btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
